// Theme-colors
$primary: #4545a5;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #fbfbfb;
$dark: #343a40;
$theme-gray: #efefef;
$custom-colors: (
  "theme-gray": $theme-gray,
);

$border-color: theme-color("theme-gray");

$gray: #efefef;

$enable-shadows: true;

$border-radius-base: 1rem;
$border-color: $gray;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1540px
);
