@use "sass:map";

@import '../../node_modules/bootstrap/scss/functions';
@import './variables';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/maps';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/utilities';

@import './mixins/mixins';
@import './components/contacts';
@import './utilities/radius-utilitie';
@import './utilities/border-utilitie';
@import './utilities/opacity-utilitie';
@import './components/stickycomponents';
@import './custom';

@import '../../node_modules/bootstrap/scss/bootstrap';





