// _contacts.scss

.contacts {
  @include hide-scrollbar();

  .contacts-alphabet {
    margin-top: 3rem;
    font-weight: bold;
    color: #6c757d; /* Use the text-muted color */
  }

  .contacts-contact {
    margin-bottom: 1rem;

    a {
      text-decoration: none;
      display: flex;
      align-items: center;

      &:hover {
        background-color: #4545a5; /* Set the hover background color */
      }
      &:hover .contact-name {
        color: #fbfbfb !important;
      }
      &:hover .contact-status {
        color: #efefef !important;
      }
    }

    .contact-avatar {
      // Define the avatar styles, e.g., fixed size and border-radius
    }

    .contact-status {
      font-size: 80%;
    }

    .contact-text {
      padding: 1.5rem;
    }
  }
}
