$utilities: map.merge(
  $utilities,
  (
    "radius-left-top": (
      property: border-top-left-radius,
      class: radius-left-top,
      responsive: true,
      values: (
        null: 1rem,
      ),
    ),
    "radius": (
      property: border-radius,
      class: radius,
      responsive: true,
      value: (
        null: 1rem,
      ),
    ),
    "radius-left": (
      property: border-top-left-radius border-bottom-left-radius,
      class: radius-left,
      responsive: true,
      values: (
        null: 1rem,
      ),
    ),
    "radius-right": (
      property: border-top-right-radius border-bottom-right-radius,
      class: radius-right,
      responsive: true,
      values: (
        null: 1rem,
      ),
    ),
  )
);

@each $breakpoint in map-keys($grid-breakpoints) {
  $min-width: map-get($grid-breakpoints, $breakpoint);
  .radius-#{breakpoint} {
    border-radius: $min-width;
  }
}
