.fs-14 {
  font-size: 14px;
}

.scrollable-component {
  @include hide-scrollbar();
}

aside {
  img {
    height: 50px;
    width: 50px;
  }
}

.custom-placeholder {
  &::placeholder {
    font-size: 16px;
  }
}

.custom-shadow {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.08));
}

.image-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
