-
  var chats = [
    {
      name: "Вениамин Редакторович",
      time: "11:45",
      message: "о_О",
      avatar: "../../assets/images/avatar_4.jpg",
      link: "chat.html"
    },
    {
      name: "Джедай Падаванов",
      time: "10:12",
      message: "Привет, скоро третий проект? Уже скоро ...",
      avatar: "../../assets/images/avatar_2.jpg",
      link: "#"
    },
    {
      name: "Алексей Примадонин",
      time: "08:53",
      message: "Тесты упали >_<",
      avatar: "../../assets/images/avatar_3.jpg",
      link: "#"
    }
  ]