-
  var contacts = {
    "A": [{
      name: "Алексей Примадонин",
      status: "Онлайн",
      avatar: "../../assets/images/avatar_3.jpg",
      link: "#"
    }],

    "В": [{
      name: "Вениамин Редакторович",
      status: "Онлайн",
      avatar: "../../assets/images/avatar_4.jpg",
      link: "chat.html"
    }],

    "Д": [{
      name: "Джедай Падаванов",
      status: "Был онлайн вчера",
      avatar: "../../assets/images/avatar_2.jpg",
      link: "#"
    }],

    "К": [{
      name: "Кодовёнок Хекслетович",
      status: "Был онлайн 3 часа назад",
      avatar: "./../../assets/images/avatar_1.jpg",
      link: "#"
    },
    {
      name: "Королева Верстальщина",
      status: "Была онлайн вчера",
      avatar: "../../assets/images/avatar_5.jpg",
      link: "#"
    }],

    "П": [{
      name: "Питонист Джангович",
      status: "Был онлайн вчера",
      avatar: "../../assets/images/avatar_6.jpg",
      link: "#"
    }],
  }