doctype html
html.h-100(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title hexlet chat | Zakir Khunkaev
    link(rel='stylesheet', href='css/style.min.css')
  body.bg-custom.p-md-4.h-100
    .container-xxl.rounded-md-4.h-100.overflow-hidden
      .row.bg-white.h-100
        aside.col-sm-12.col-md-7.col-lg-6.col-xl-5.col-xxl-4.border-end.h-100.scrollable-component.sidebar.d-flex.flex-column
          include header/header.pug
          include left_area/contact.pug
        main.col.image-center.d-none.d-md-flex.p-0
          include right_area/avatar_page.pug
