mixin svg-icon(name, width = '24', height = '24', fill = 'currentColor')
  svg(class='icon', width=width, height=height)
    use(xlink:href=`assets/sprite.svg#${name}`)
    style.
      .icon {
        fill: #{fill};
      }

.d-flex.flex-column.gap-3.px-5.pt-5.mb-auto.scrollable-component
  .max-width-75.d-flex.align-self-start
    img.d-none.d-md-block.rounded-circle.mt-auto.me-3(src="./assets/images/avatar_4.jpg" alt="avatar_4.jpg" width="50" height="50")
    .p-4.shadow-sm.rounded-4.bg-light
      p.fw-bold.text-dark.mb-1 Вениамин Редакторович
      p.mb-2.text-secondary Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?
      p.opacity-60.small.border-top.pt-1.mb-0.text-secondary 8 минут назад
  .max-width-75.d-flex.align-self-end 
    img.d-none.d-md-block.rounded-circle.mt-auto.me-3(src="./assets/images/avatar_1.jpg" alt="avatar_1.jpg" width="50" height="50")
    .p-4.shadow-sm.rounded-4.bg-primary
      p.mb-2.text-light Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень
      p.opacity-60.small.border-top.pt-1.mb-0.text-light 8 минут назад
  .max-width-75.d-flex.align-self-start 
    img.d-none.d-md-block.rounded-circle.mt-auto.me-3(src="./assets/images/avatar_4.jpg" alt="avatar_4.jpg" width="50" height="50")
    .p-4.shadow-sm.rounded-4.bg-light
      p.fw-bold.text-dark.mb-1 Вениамин Редакторович
      p.mb-2.text-secondary Лады
      p.opacity-60.small.border-top.pt-1.mb-0.text-secondary 5 минут назад
  .max-width-75.d-flex.align-self-end 
    img.d-none.d-md-block.rounded-circle.mt-auto.me-3(src="./assets/images/avatar_1.jpg" alt="avatar_1.jpg" width="50" height="50")
    .p-4.shadow-sm.rounded-4.bg-primary
      p.mb-2.text-light А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие
      p.opacity-60.small.border-top.pt-1.mb-0.text-light 3 минуты назад
  .max-width-75.d-flex.align-self-start 
    img.d-none.d-md-block.rounded-circle.mt-auto.me-3(src="./assets/images/avatar_4.jpg" alt="avatar_4.jpg" width="50" height="50")
    .p-4.shadow-sm.rounded-4.bg-light
      p.fw-bold.text-dark.mb-1 Вениамин Редакторович
      p.mb-2.text-secondary о_О
      p.opacity-60.small.border-top.pt-1.mb-0.text-secondary Только что
form.border-top.mx-md-5.form-sticky(role="search" action="#" method="post")
  .input-group.align-items-center.ps-2.pe-md-2.py-md-1
    input.form-control.border-0.shadow-none.ps-4.ps-md-3.pe-0.py-0(type="search" placeholder="Напишите сообщение..." aria-label="Поиск")
    button.btn.btn-primary.rounded-circle.border-0.p-0.m-3.width-and-height-50(type="submit")
      span.fs-4.text-white.icon-22
        +svg-icon('icons--cursor', '22', '22', '#fbfbfb')

